/* 인덱스 작동 */

*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:black;}

.index:after{display:flex; content:''; clear:both;}
.index {margin:0; position:relative; float: left; margin-right:5px;}

.index{display:flex; padding:0 15px; width: 20%; height: auto; line-height: 20px; color:black;}
.index:hover
.name-list {display:flex;}

.index .name-list{display: none; position: absolute; top: calc(15vh + 20%); left: calc(1vw + 55px); right: 0; text-align: left;}
.index .name-list a{display: flex; margin: 10px;}

.index{
    list-style-type: none;
    position: fixed;
    top: 2vh;
    left:2vw;
}

.name-list{
    position: flex;
    font-family: "dongle";
    font-size: 27px;
}


/* 중앙 아이덴티티 */

.fixed-item {
    position: fixed;
    margin: 0px auto;
    left: 40%;
    transform: translateX(-20%);
    top: 40%;
    transform: translateY(-20%);
    z-index: 1;
}


/* 텍스트 설정 */

@font-face {
    font-family: AppleSDGothicNeo;
    font-weight: 200;
    src: url(font/AppleSDGothicNeoUL.woff2) format("woff2");
  }

.title {
    position: relative;
    text-align: right;
    font-family: "Dongle", serif;
    font-size: 26px;
    line-height: 0.9em;
}

.describtion {
    font-family: "AppleSDGothicNeo";
    text-align: right;
}

#align-center {
    text-align: center;
}

#align-left {
    text-align: left;
}

/* 왼쪽 레이아웃 정렬 */

.left-wrap {
    display: block;
    top: calc(1vh + 100px);
}

/* 오른쪽 레이아웃 정렬 */

.right-wrap {
    display: block;
    top: calc(1vh + 100px);
}


/* shape poster 레이아웃 */

.layout1 {
    position: absolute;
    left: calc(2vw + 230px);
    width: 32%;
}

#img1 {
    max-width:70%;
    height: auto;
}

#img2 {
    max-width: 50%;
    height: auto;
    position: absolute;
}

#img3 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img4 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

.layout1 #img1 {
    float: right;
    margin-top: 10px;
}

.layout1 #img2 {
    float: left;
    margin-top: calc(2vw + 30%);
}

.layout1 #img3 {
    float: right;
    margin-left: calc(1vw + 50%);
    margin-top: calc(1vh + 60%);
}

.layout1 #img4 {
    float: left;
    margin-left: calc(1vw + 20%);
    margin-top: calc(1vh + 120%);
}


.clear{
    clear:both;
}

/* Patter Poster 레이아웃 */

.layout2 {
    position: relative;
    left: calc(2vw + 230px);
    top: calc(2vh + 1200px);
    width: 32%;
    height: max-content;
}

#img5 {
    max-width:70%;
    height: auto;
}

#img6 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img7 {
    max-width: 70%;
    height: auto;
    position: absolute;
}


.layout2 #img5 {
    float: right;
    margin-top: 10px;
}

.layout2 #img6 {
    float: right;
    margin-top: 80%;
    margin-left: calc(1vw + 45%);
}

.layout2 #img7 {
    float: left;
    margin-top: 130%;
    margin-left: calc(1vw - 10%);
}

/* Maximal Poster 레이아웃 */

.layout3 {
    position: relative;
    left: calc(2vw + 30px);
    top: calc(1vh + 800px);
    width: 40%;
    height: max-content;
}

#img8 {
    max-width: 90%;
    height: auto;
}


/* Generative System Design 레이아웃 */

.layout4 {
    position: absolute;
    right: 4vw;
    width: 32%;
}

#img9 {
    max-width:70%;
    height: auto;
}

#img10 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img11 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img12 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img13 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img14 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img15 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img16 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

#img17 {
    max-width: 70%;
    height: auto;
    position: absolute;
}

.layout4 #img9 {
    float: right;
    margin-top: 10px;
}

.layout4 #img10 {
    float: left;
    margin-top: 30%;
}

.layout4 #img11 {
    float: right;
    margin-top: 100%;
}

.layout4 #img12 {
    float: right;
    margin-top: 200%;
    margin-right: -20%;
}

.layout4 #img11 {
    float: left;
    margin-top: 200%;
    margin-right: 20%;
}

.layout4 #img12 {
    float: left;
    margin-top: 200%;
    margin-right: 20%;
}

.layout4 #img13 {
    float: right;
    margin-top: 200%;
    margin-right: 20%;
}

.layout4 #img14 {
    float: right;
    margin-top: 200%;
    margin-right: 20%;
}

.layout4 #img15 {
    float: right;
    margin-top: 200%;
    margin-right: 20%;
}

.layout4 #img16 {
    float: right;
    margin-top: 200%;
    margin-right: 20%;
}

.layout4 #img17 {
    float: right;
    margin-top: 200%;
    margin-right: 60%;
}


/* Exhibition Design 레이아웃 */

.layout5 {
    position: absolute;
    right: 2vw;
    top: 1100px;
    width: 32%;
}

.layout5 #img12 {
    float: left;
    margin-left: -140px;
    margin-right: 10px;
}

.layout5 #img13 {
    float:left;
    margin-top: 30px;
}

.layout5 #img14 {
    float: right;
    margin-top: -40px;
    margin-right: 40px;
}

.layout5 #img15 {
    float: left;
    margin-top: -160px;
    margin-left: -100px;
}

.layout5 #img16 {
    float: right;
    margin-top: -180px;
    margin-right: 70px;
}



/* Minimal 레이아웃 */

.layout6 {
    position: absolute;
    right: 2vw;
    top: 2200px;
    width: max-content;
}

/* Collectbook 레이아웃 */

.layout7 {
    position: absolute;
    right: 2vw;
    top: 2350px;
    width: max-content;
}

.layout7 #img18 {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.layout7 #img19 {
    float: right;
    margin-left: 10px;
}

/* Mapping 레이아웃 */

.layout8 {
    position: absolute;
    right: 5vw;
    top: 2800px;
    width: max-content;
}

/* 갤러리 스타일 */
.gallery {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .gallery-item {
    width: max-content;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .gallery-item:hover {
    transform: scale(1.2);
    animation-timing-function: ease;
    animation-duration: 0.3s;
    z-index: 10;
  }
  
  /* 모달 배경 */
  .modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
  }
  
  /* 모달 이미지 스타일 */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* 닫기 버튼 */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 이전/다음 버튼 */
  .prev, .next {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    padding: 16px;
    background-color: rgba(0,0,0,0.5);
    border: none;
    z-index: 10;
  }
  
  .prev {
    left: 0;
    transform: translateY(-50%);
  }
  
  .next {
    right: 0;
    transform: translateY(-50%);
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
  }
  
  /* 캡션 텍스트 */
  #caption {
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    color: white;
  }

  
